@charset "UTF-8";

*{
    margin:0; padding:0; 	/*全要素のマージン・パディングをリセット*/
    line-height:1.5;	/*全要素の行の高さを1.5倍にする*/
    color:#333333;		/*文字色*/

}

body{
    background-color:#999999;	/*ページ全体の背景色*/
    text-align:center;		/*IE6以下でセンタリングするための対策*/
}

