
{% extends "entries/base.html" %}
{% block main %}

<h3>一覧</h3>

{% include 'entries/entry_add.html' %}
{% load comments %}
{% for entry in object_list %}

    <dt>
        <a href="/entries/detail/{{ entry.id }}">{{ entry.title }}</a>
    </dt>

    <pre>
{{ entry.content }}
    </pre><br />
    <dd class="operation">
        <a href="/entries/update/{{ entry.id }}">編集</a>
        <a href="/entries/delete/{{ entry.id }}">削除</a>
    </dd>
    <br />
    <dd>
        {% get_comment_count for entry as comment_count %}
        コメント数：{{ comment_count }}<br>
        {% render_comment_form for entry %}
    </dd>
    <hr/>

{% endfor %}

{% endblock %}